@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

header{
  padding: 20px 50px 0px 50px;
}
nav{
  display: flex;
  justify-content: space-between;
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

ol{
  text-align: center;
  align-items: center;
  display: flex;
  flex: row;
  gap: 10px;
}

li{
  list-style: none;
  counter-increment: item 1;
}

li:hover{
  cursor: pointer;
}

a{
  padding: 10px;
  transition: 0.4s;
}

a::before{
  content: "0" counter(item) ".";
  color: #64ffda;
  font-size: 13px;
}

a:hover{
  color: #64ffda;
}

ol > button{
  color: #64ffda;
  border: 1px solid #64ffda;
  border-radius: 4px;
  background-color: transparent;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 13px;
}

ol > button:hover{
  background-color: rgba(100,255,218,0.1);
}

