<main>
  <div class="stickTeste"></div>
  <div class="stick1">
    <ul class="stick">
      <li><a href="https://github.com/Italo-Alan" target="_blank"><img src="../../../assets/svg/github-svgrepo-com.svg"  class="svg" alt="github logo"></a></li>
      <li><a href="https://www.linkedin.com/in/italo-alan-dev/" target="_blank"><img src="../../../assets/svg/linkedin-svgrepo-com.svg"  class="svg" alt="linkedin logo"></a></li>
    </ul>
  </div>
  <div class="stick2">
    <a href="mailto:italoalandev@gmail.com">italoalandev@gmail.com</a>
  </div>
  <section id="hero" class="bouncy">
    <h1 class="bubble">O</h1>
    <h1 class="bubble">i</h1>
    <h1 class="bubble">,</h1>
    <br>
    <h2 class="bubble">E</h2>
    <h2 class="bubble">u</h2>
    <h2 class="bubble lp">s</h2>
    <h2 class="bubble">o</h2>
    <h2 class="bubble">u</h2>
    <h2 class="bubble lp">o</h2>
    <h2 class="bubble lp">I</h2>
    <h2 class="bubble">t</h2>
    <h2 class="bubble">a</h2>
    <h2 class="bubble">l</h2>
    <h2 class="bubble">o</h2>
    <h2 class="bubble lp">A</h2>
    <h2 class="bubble">l</h2>
    <h2 class="bubble">a</h2>
    <h2 class="bubble">n</h2>
    <h2 class="bubble">,</h2>
    <br>
    <h2 class="bubble">D</h2>
    <h2 class="bubble">e</h2>
    <h2 class="bubble">s</h2>
    <h2 class="bubble">e</h2>
    <h2 class="bubble">n</h2>
    <h2 class="bubble">v</h2>
    <h2 class="bubble">o</h2>
    <h2 class="bubble">l</h2>
    <h2 class="bubble">v</h2>
    <h2 class="bubble">e</h2>
    <h2 class="bubble">d</h2>
    <h2 class="bubble">o</h2>
    <h2 class="bubble">r</h2>

    <h2 class="bubble  lp">F</h2>
    <h2 class="bubble">u</h2>
    <h2 class="bubble">l</h2>
    <h2 class="bubble">l</h2>
    <h2 class="bubble">-</h2>
    <h2 class="bubble">S</h2>
    <h2 class="bubble">t</h2>
    <h2 class="bubble">a</h2>
    <h2 class="bubble">c</h2>
    <h2 class="bubble">k</h2>
    <br>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <p>{{ descriptionTitle }}</p>
  </section>
</main>
