main{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  margin-top: 150px;
}

img.svg{
  transition: all 0.4s ease-in;
}

img.svg:hover{
  transform: translateY(-7px);
}

.stick1{
  border-left: 1px solid white;
  position: fixed;
  height: 100px;
  left: 5%;
  margin-left: 3px;
  bottom: 0;
}

.stick1 > ul{
  position: absolute;
  height: 170px;
  left: -17px;
  bottom: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.stick1 > ul > li>  a > img{
  padding: 10px;
}

.stick2{
  border-left: 1px solid white;
  position: fixed;
  height: 100px;
  right: 5%;
  margin-left: 3px;
  bottom: 0;
}

.stick2 > a {
  writing-mode: vertical-rl;
  text-decoration: none;
  transition: all 0.4s ease-in;
  position: absolute;
  height: 170px;
  left: -16px;
  bottom: 100px;
  padding: 10px;
}

.stick2 > a:hover{
  transform: translateY(-7px);
}

#hero{
  height: calc(100vh -41px);
}

#hero > p{
  width: 40vw;
}

section{
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;
}

section > h1,h2,h3{
  font-size: 5rem;
  line-height: 4rem;
}

.bubble {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

.bubble:hover {
  color: #64ffda;
  /* animation: rubberBand 1s infinite; */
  animation-name: rubberBand;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.lp{
  margin-left: 15px;
}
